<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pizza4u">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pizza4u">
        <activity
            android:name=".EmployeeMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AddBranchLocationInstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmployeeRegActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddBranchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManagerMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CustomerMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CusOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CusPizzaViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CusPizzaListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Pizza4u"
            android:theme="@style/Theme.Pizza4u">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>